body {
    margin: 0;
    padding: 0;
    background-color: #36393F;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

#content {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

a {
    text-decoration: none;
    color: blue;
}
a1 {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 2em;
}
